/*ブラウザがそれぞれ持っているCSSをリセットするため*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.main{
	width: 100%
	height: 800px;
}

.box1{
	width: 100%;
	height: 200px;
	background-image: url(imag/box1.jp);
	background-size: cover;
	background-position: center;
}
.box2{
	width: 100%;
	height: 200px;
	background-image: url(imag/box2.jp);
	background-size: cover;
	background-position: center;
}
.box3{
	width: 100%;
	height: 200px;
	background-image: url(imag/box3.jp);
	background-size: cover;
	background-position: center;
}
.box4{
	width: 100%;
	height: 200px;
	background-image: url(imag/box4.jp);
	background-size: cover;
	background-position: center;
}